:root {
    --color-background:#F9F4E8;
    --main-text-color:#545454;
    --color-waitlist: #4977EA;
    --first-linear-color: #EAB151;
    --second-linear-color:#EA5672;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    text-decoration: none;
 }

 html {
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    overflow-x: hidden;
 }

 body {
    font-family: "Lato", sans-serif;
    background-color: var(--color-background);
    padding-left: 7vw;
    padding-right: 7vw;
 }

 header {
    display: flex;
    justify-content: space-between;
    padding: 5rem 0 5rem 0;
 }

 .logo, .links, .join {
    display: flex;
    align-items: center;
    column-gap: 2rem;
 }

 .links, .join {
    font-size: 1.6rem;
 }

 .links a, #sign-in, .social-media a, .help span{
    color:var(--main-text-color);
 }

 .links a:visited, #sign-in a:visited, .social-media a, .help span a:visited{
    color: var(--main-text-color);
 }

 .hiring, .waitlist{
    color:var(--color-background);
 }

 .hiring {
    background: linear-gradient(to right, var(--first-linear-color), var(--second-linear-color));
    padding: 0.7rem;
    border-radius: 15px;
    font-weight: 600;
 }

 .waitlist {
    background-color: var(--color-waitlist);
    padding:1.6rem;
    border-radius: 3.5px;
    font-weight: 500;
 }

 .waitlist:hover, .hiring:hover {
    transform: scale(1.05);
    color: white;
    transition: 300ms ease-in;
 }

 .links a:hover, #sign-in:hover, .social-media a:hover, .help span:hover {
    color: black;
    transform: scale(1.05);
    transition: 300ms ease-in;
    
 }  

main{
    display: flex;
    padding: 11rem 0 15rem 0;
}

 .left-side {
    /* background-color: yellow; */
    width: 36vw;
    text-align: left;
      
 }
 .right-side {
    width:36vw;
    text-align: right;    
 }

 main .right-side img {
    width: 75%;
 }

 h1 {
    font-family: "Playfair Display", Arial, Helvetica, sans-serif;
    font-size: 5rem;
 }

 h2 {
    font-size: 1.6rem;
    color: var(--main-text-color);
    line-height: 2.5rem;
 }

 .h1 {
    width: 100%;
 }

 .h2 {
    width: 85%;
    padding-top: 2rem;
    padding-bottom: 2rem ;
    color: var(--main-text-color);
 }

 .input {
    width:max-content;  
    height: 5rem;
    display: flex;
    column-gap:2rem;
 }

 .left-side .waitlist {
    font-size: 1.6rem;
 }

 div.input input {
    height: 100%;
    width: 30rem;
    border-radius: 3.5px;
    padding-left: 1.5rem;
    font-family:"Lato", sans-serif;
 }

 .spam {
    padding-top: 2rem;
    display: flex;
    align-items: center;
    column-gap: 2rem;
    font-size: 1.6rem;
    color: var(--main-text-color)
 }

 footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5rem;
 }

 .social-media {
    display: flex;
    font-size: 2.5rem;
    column-gap:2rem;
 }

 .help span{
    display: flex;
    align-items: center;
    column-gap: 2rem;
 }

 #h1-font {
    font-size: 1.6rem;
    font-family:"Playfair Display", Arial, Helvetica, sans-serif;;
 }

 #main-font {
    font-size: 1.6rem;
    font-weight: bold;
 }

 .mobile-menu-icon {
    display: none;
 }
 .mobile-menu {
    display: none;
 }

 .mobile-menu-icon button{
    background-color:transparent;
    font-size: 3rem;
    cursor: pointer;
 }

 @media screen and (max-width:780px) {
    .links, .join {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .open {
        display: block;
    }
    main {
        display: flex;
        flex-direction:column-reverse;
        padding:0;
    }
    main .right-side img {
        width: 75%;
     }
     .right-side {
        width:100%;
        text-align: center;    
     }
     .left-side {
        /* background-color: yellow; */
        width: 100%;
        text-align: left; 
     }
     h1 {
        font-size: 5rem;
     }
     h2 {
        width: 100%;
        padding-top: 1rem;
        padding-bottom: 1rem ;
        color: var(--main-text-color);
     }
     .spam {
        padding-bottom: 10rem;
     }
 }

 
 @media screen and (max-width:1297px) {
     h1 {
         font-size: 4rem;
        }
        h2 {
            font-size:1.2;
        }
    }
    @media screen and (max-width:1044px) {
       h1 {
           font-size: 3.5rem;
       }
       h2 {
        font-size: 1.4rem;
        line-height: normal;
       }
    }

    @media screen and (max-width:500px) {
        .input {
            width:max-content;  
            height: 12rem;
            display: flex;
            flex-direction: column;
            row-gap: 1rem;


